<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secure chat</title>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <link rel="stylesheet" type="text/css" href="css/chat-style.css">

<body>
  <div class="container">
    <div class="leftSide">
      <div class="header">
        <div>
          <p style="font-size: medium; color:brown" class="userid" id={{user.id}}>{{ user.username }} </p>

        </div>
        <ul class="nav_icons">

          <li>
            <div class="search">
              <div>
                <input type="text" placeholder="Add contacts">
              </div>
            </div>
          </li>
          <li>
            <ion-icon name="person-add"></ion-icon>
          </li>

        </ul>
      </div>

      <div class="search_ch">
        <div>
          <input type="text" placeholder="Search chat">
          <ion-icon name="search-outline"></ion-icon>
        </div>
      </div>

      <div class="chatlist">

        {{#each names }}
        <div class="block">
          <div class="details">
            <div id={{this.id}} class="listhead">
              <h4>{{this.username}}</h4>
            </div>
          </div>
        </div>
        {{/each}}
        <hr>

      </div>
    </div>
    <div class="rightSide">
      <div class="header" style="width: 100%;">
        <div class="imgtext">

          <h4>Candance<br> <span> Online</h4>

        </div>
        <ul class="nav_icons">
          <li>
            <ion-icon name="search-outline"></ion-icon>
          </li>
          <li>
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </li>
        </ul>
      </div>

      <div class="chatbox" style="width: 100%;">
        <div class="message_in my_msg">
          <p>Hi<br><span>07:15</span></p>

        </div>
        <div class="message_in frnd_msg">
          <p>Hi<br><span>07:16</span></p>

        </div>
        <div class="message_in my_msg">
          <p>avsajd<br><span>07:17</span></p>

        </div>

        <div class="message_in frnd_msg">
          <p>heov janbdk<br><span>07:18</span></p>

        </div>
        <div class="message_in my_msg">
          <p>avsajd<br><span>07:19</span></p>

        </div>

        <div class="message_in frnd_msg">
          <p>heov janbdk<br><span>07:19</span></p>

        </div>
        <div class="message_in my_msg">
          <p>avsajd<br><span>07:20</span></p>

        </div>
        <div class="message_in frnd_msg">
          <p>heov janbdk<br><span>07:20</span></p>

        </div>
        <div class="message_in my_msg">
          <p>Hi<br><span>07:15</span></p>

        </div>
        <div class="message_in frnd_msg">
          <p>Hi<br><span>07:16</span></p>

        </div>
        <div class="message_in my_msg">
          <p>avsajd<br><span>07:17</span></p>

        </div>

        <div class="message_in frnd_msg">
          <p>heov janbdk<br><span>07:18</span></p>

        </div>
        <div class="message_in my_msg">
          <p>avsajd<br><span>07:19</span></p>

        </div>

        <div class="message_in frnd_msg">
          <p>heov janbdk<br><span>07:19</span></p>

        </div>
        <div class="message_in my_msg">
          <p>avsajd<br><span>07:20</span></p>

        </div>
        <div class="message_in frnd_msg">
          <p>heov janbdk<br><span>07:20</span></p>

        </div>

      </div>

      <div class="chatbox_ip" style="position:absolute; bottom:0; right:0; width:100%">
        <input type="text" placeholder="Type a message here">
        <ion-icon name="paper-plane"></ion-icon>
      </div>

      <script type="text/javascript" src="js/chat.js"></script>

</body>

</html>