<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secure chat</title>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <link rel="stylesheet" type="text/css" href="css/chat-style.css">

<body>
  <div class="container">
    <div class="leftSide">
      <div class="header">
        <div>
          <p style="font-size: medium; color:brown" class="userid" id={{user.id}}>{{ user.username }} </p>

        </div>
        <form id="add-form" action="/users/:username" method="POST">

          <ul class="nav_icons">

            <li>
              <div class="search">
                <div>
                  <input id="addUserid" type="text" placeholder="Add contacts">
                </div>
              </div>
            </li>
            <li>
              <button type="submit">
                <ion-icon name="person-add"></ion-icon>

              </button>
            </li>

          </ul>
        </form>
      </div>

      <div class="search_ch">
        <div>
          <input type="text" placeholder="Search chat">
          <ion-icon name="search-outline"></ion-icon>
        </div>
      </div>

      <div class="chatlist">

      </div>
    </div>
    <div class="rightSide">
      <div id="rightHeader" class="header" style="width: 100%; display:none">
        <div class="imgtext">
          <h4 id="clickedFrd">Candance</h4>
          <p style="display: none;" id="coversationId"></p>
          <p style="display: none;" id="frdId"></p>

        </div>
        <ul class="nav_icons">
          <li>
            <ion-icon name="search-outline"></ion-icon>
          </li>
          <li>
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </li>
        </ul>
      </div>

      <div id="chatbox" class="chatbox" style="width: 100%; display:none;">

      </div>
      <div id="messageBox" class="chatbox_ip" style="position:absolute; bottom:0; right:0; width:100%; display:none;">
        <input id="messagebox" type="text" placeholder="Type a message here">
        <ion-icon onclick="sendMessage()" name="paper-plane"></ion-icon>
      </div>
      <img id="imgPlaceholder" src="./img/ship.png">


    </div>

    <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="js/chat.js"></script>

</body>

</html>