<!DOCTYPE html>
<html>

<head>
  <title>Animated Login Form</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Bitter&family=Libre+Baskerville&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <img class="wave" src="./img/bg-wave-up.jpg">
  <div class="container" style="grid-template-columns: 1fr;">
    <div style="justify-content: center; max-width: 500px; max-height: 500px; margin: 40px auto 40px auto;">
      <div class="form-content" style="justify-content: center;
                  padding:10vh;background-color:
                  rgba(255, 255, 255, 0.2);
                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <form id="reg-form" action="/register" method="post">
          <div style="justify-content: center;">
            <lottie-player
              src="https://assets4.lottiefiles.com/datafiles/XRVoUu3IX4sGWtiC3MPpFnJvZNq7lVWDCa8LSqgS/profile.json"
              background="transparent" speed="1" style="justify-content: center" loop autoplay>
            </lottie-player>
          </div>

          <h2 class="title">Signup</h2>

          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>

            <div class="div">
              <h5>Username</h5>
              <input name="username" id="username" type="text" class="input">
            </div>
          </div>

          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>

            <div class="div">
              <h5>Password</h5>
              <input name="password" id="password" type="password" class="input">
            </div>

          </div>

          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>

            <div class="div">
              <h5 style="color: darkgray;">Confirm Password</h5>
              <input name="confirm" type="password" class="input">
            </div>
          </div>
          <a href="/login">Have a account? Login.</a>
          <input type="submit" class="btn" value="Signup">
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="./js/register.js"></script>
  <script type="text/javascript" src="./js/main.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/2.3.1/jsencrypt.min.js"></script>

</body>


</html>